body {
    background-color: #c2c2d6; 
    font-family: sans-serif;   
}

.container {
    max-width: 600px;      
    margin: 50px auto;     
    background: white; 
    padding: 20px;       
    border-radius: 8px;  
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.btn-add {
    width: 50%;    
    display: block;   
    margin: 10px auto;  
    background-color: #02af2a; 
    color: white;        
    border: none;         
    padding: 12px;        
    cursor: pointer;      
    font-weight: bold;    
    transition: background 0.3s; 
}
.btn-add:hover {
    background-color: #01440f;
}

input {
    /* Centering (Matches your button) */
    display: block;
    width: 80%;
    margin: 10px auto;

    /* Styling */
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 5px;     
    font-size: 16px;        
    background-color: #f9f9f9; 
}


input:focus {
    border-color: #08581c;  
    background-color: white; 
    box-shadow: 0 0 5px rgb(6, 78, 17);
}

/* Clean up the main list container */
ul {
    list-style: none;     
    padding: 0;           
    margin-top: 20px;     
}

/* Style each individual row */
li {
    background-color: white;
    border-bottom: 1px solid #eee; 
    padding: 15px;              
    
    /* The Flexbox Magic */
    display: flex;                
    justify-content: space-between;
    align-items: center;          
}

li:last-child {
    border-bottom: none;
}
.product-n {
    font-weight: bold;   
    font-size: 18px; 
    color: #351515; 
    text-transform: capitalize;
}
.price {
    color: #a74c28;       
    font-weight: bold;    
    margin-left: 15px;    
}
.total-price-box {
    text-align: right;          
    margin-top: 20px;           
    padding-top: 10px;         
    border-top: 2px solid #333; 
    font-size: 20px;         
}
.total-box p {
    margin: 5px 0;
}

/* The Card Container */
form {
    background: white;
    max-width: 400px;       
    margin: 0 auto;        
    padding: 20px;         
    border-radius: 8px;     
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

/* The Inputs */
input[type="text"],
input[type="number"] {
    width: 100%;            
    padding: 10px;          
    margin-top: 5px;        
    box-sizing: border-box; 
}

/* The Button */
button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* The Link */
a {
    display: block;        
    text-align: center;    
    margin-top: 15px;
}