<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Personal Expense Tracker</h1>
        <p>Track your expenses easily and efficiently.</p>
        <form method="post" action="/add">
            <input type="text" name="product" placeholder="Enter your product" required>
            <input type="number" name="price" placeholder="Enter the price" required>
            <input type="number" name="quantity" placeholder="Enter your quantity" required>
            <button type="submit" class="btn-add">Add Expense</button>
            <label>Date:</label>
        </form>
        <p>My budget is {{budget}}</p>
        <h2>My Expenses</h2>
            <ul>
                {% for expense in expenses %}
                    <li>
                        <strong>{{ expense.get('date', '---') }}</strong>:
                        <span class="product-n">{{ expense.product }}</span>
                        <span class="price">${{ expense.price }}</span>

                        <a href="{{ url_for('edit', index=loop.index0) }}" class="btn-edit">Edit</a>

                        <a href="{{ url_for('delete_expense', index=loop.index0) }}" 
                        class="btn-delete" 
                        onclick="return confirm('Sure?');">
                        Delete
                        </a>
                    </li>
                        {% endfor %}
                        <div class="total-box">
                            <p>Budget: ${{ budget }}</p>
                            <p>Total Spent: ${{ total }}</p>
                            <hr> <p><b>Remaining: ${{ remaining }}</b></p>
                        </div>
        </ul>
    </div>
</body>
</html>